html {
	box-sizing: border-box;
    background-color: #020659;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	min-width: 375px;
	max-width: 834px;
    background-color: #ffffff;
}

main {
    background-color: #ffffff;
}

main section {
    padding-bottom: 80px;
}

header {
    display: flex;
	background-color: #020873;
}

nav  ul {
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#gradienthead {
    background: rgb(0, 212, 255);
	background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(33, 4, 217, 1) 0%, rgba(2, 0, 36, 1) 100%);
	padding-top: 5px;
	padding-bottom: 5px;
    margin-bottom: -20px;
    padding-left: 25px;
    padding-right: 20px;
}

#gradienthead h1, p {
    color: #ffffff;
}

h1 {
    font-size: 1.25em;
}

h2, h3 {
    font-size: 1em;
}

p, dl, dd {
    font-size: 1em;
}

footer {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

footer p {
    font-size: .75em;
    color: #590242;
}

#trending {
    display: flex;
	max-width: 834px;
    min-width: 375px;
    background-color: white;
    padding: 10px;
    overflow-x: auto; 
}

#trending section {
    color: #590242;
    padding-bottom: 0;
}

.playlists {
    background-color: #2699FB;
    color: #ffffff;
}

.playlists section {
    background-color: #0D8DFB;

}

h2 {
    color: #590242;
    padding-top: 20px;
    padding-left: 25px;
    text-transform: uppercase;
}

#trending div {
    padding-top: 0;
}

#trending h3 {
    text-transform: uppercase;
    position: relative;
    bottom: 10px;
    padding-right: 10px;
}

.playlists2 {
    background-color: #020873;
}

.playlists2 section {
    background-color: #020659;
}

.playlists2 section div {
    text-decoration: none;
    color: #ffffff;
}

.button1 {
    padding: 10px;
    width: 150px;
    margin: 10px 0 30px 32px;
    margin-right: 20px;
}

.button1, .button2, .button3 {
	background-color: #590242;
	color: white;
    border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button1:hover, .button2:hover, .button3:hover {
	background-color: #020659;
}

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: auto;  
}
 .scroll section {
    margin: 10px;
    position: relative; 
}

.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, .75);
    padding: 5px;
    height: 70px;
    width: 350px;
}

dl {
    display: flex;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: #590242;
    font-size: 1em;
    position: relative;
    bottom: 20px;
}

dt {
    float: left;
    width: 17%;
    padding: 0;
    margin: 0;
    font-style:italic;
    color: #590242;
    padding-right: 5px;
}

dd {
    float: left;
    margin: 0;
    width: 50%;
    padding: 0;
    color: #590242;
    font-size: 1em;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255,.5);
}

#trending ::-webkit-scrollbar {
    width: 15px;
}

#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover{
    background: #020659;
}

.wrapper ::-webkit-scrollbar, #playlists2 ::-webkit-scrollbar {
    width: 15px;
}

.wrapper ::-webkit-scrollbar-track, #playlists2 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
}

.wrapper::-webkit-scrollbar-thumb, #playlists2 ::-webkit-scrollbar-thumb {
    background: #020873;
    border-radius: 5px;
}

.wrapper ::-webkit-scrollbar-thumb:hover, #playlists2 ::-webkit-scrollbar-thumb:hover {
    background: #030a8c;
}

@media screen and (min-width: 375px) {

    li #title {
        position: fixed;
    }

}






@media screen and (min-width: 834px){
    
    nav ul {
        display: grid;
        width: 700px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;

    }

    nav li {
        padding-left: 50px;
    }

    nav li:hover {
        background: #590242;
    }


    #title {
        font-weight: bolder;
        font-size: x-large;
        padding-right: 50px;
        padding-left: 0px;
    }

    #title::first-letter {
        font-size: xx-large;
    }

    #dropdown {
        display: none;
    }

    .button1 {
        float: right;
        left: 50px;
    }

    .wrapper {
        display: flex;
        overflow-y: auto;
        height: 400px;
        row-gap: 1em;
    
    }


    .playlists {
        height: 400px;
        overflow-y: auto;
        width: 50%;
    }

    .playlists2 {
        height: 400px;
        overflow: auto;
        width: 50%;
    }

    .button2 {
        margin-left: 250px;
        margin-top: 10px;
    }

    .button3 {
        margin-left: 280px;
    }

    .playlists h3, .playlists2 h3 {
        text-transform: uppercase;
    
    }

    .playlists img, .playlists2 img {
        margin-left: 20px;
        padding-top: 10px;
    }

    .s {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
        
    }
    
    .s div {
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin-right: 20px;
    }
    

}







            